<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="{{ 'favicon.ico' | prepend: site.baseurl }}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/img/apple-touch-icon-57x57.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/img/apple-touch-icon-72x72.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/img/apple-touch-icon-76x76.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/img/apple-touch-icon-114x114.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/img/apple-touch-icon-120x120.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/img/apple-touch-icon-144x144.png' | prepend: site.baseurl }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/img/apple-touch-icon-152x152.png' | prepend: site.baseurl }}"/>

    {% if page.css %}
        {% if page.css-before == true %}
            <link rel="stylesheet" href="{{ page.css }}">
            {% include css.html %}
        {% else %}
            {% include css.html %}
            <link rel="stylesheet" href="{{ page.css }}">
        {% endif %}
    {% else %}
        {% include css.html %}
    {% endif %}

</head>
