<div class="sidebar hidden-xs hidden-sm">
    <div class="row text-center">
        <div class="col-md-12">
            <div class="avatar avatar-md center"></div>
        </div>
    </div>
    {% if page.nav == 'blog' or page.layout == 'post' %}
    <div class="row text-center blog-description">
        <div class="col-md-12">
            <p class="center">{{ site.blog.description }}</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>What I've been saying on Twitter</h4>
            <div class="widget-wrapper">
                <a class="twitter-timeline" data-theme="light" data-link-color="#347FC4"
                   href="https://twitter.com/JoeNyland" data-tweet-limit="3" data-chrome="transparent">Tweets by JoeNyland</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>What I've been up to on my bike</h4>
            <div class="widget-wrapper">
                <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/3076533/activity-summary/71964f6531bcf15e8971f132942102d7a9a0daa7'></iframe>
            </div>
        </div>
    </div>
</div>
