.about {
  /* About page images */
  img.joe-in-the-office, img.joe-on-a-bike {
    max-width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    img.joe-in-the-office, img.joe-on-a-bike {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
