.blog {
  img.app-load-balancer, img.vpc-screenshot, img.ec2-screenshot { max-height: 350px; display: block; margin: 0 auto; }
  .post-content { h3 { margin-top: 1em; } }
  .post-content {
    .warn { color: brown; }
    .success { color: darkgreen; }
  }
  img#git-lfs-graphic {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    margin: 20px auto 40px auto;
    display: block
  }
  div#disqus_thread { margin-top: 10px; }
  img.joe-leeds-ride, img.the-christie-charity {
    max-width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  img.the-christie-charity, img.map-of-route { max-width: 50%; }

  @media screen and (max-width: 768px) {
    img.joe-leeds-ride, img.the-christie-charity {
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
