.navbar.navbar-default {
  .navbar-brand {
    font-size: x-large;
    color: $red-dark;
    &:hover { color: $red-light; }
  }
  .navbar-nav li {
    a { color: $blue-dark; }
    a:focus, a:hover {
      color: $blue-light;
      background-color: $white;
    }
  }
  background-color: $white;
  border: none;
}
