/* Bootstrap navbar customisations */
.navbar-inverse {
  .navbar-brand {
    color: $red-light;
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $blue-dark;
        &.active {
          color: $red-light;
          &:hover {
            color:  $grey-light;
            cursor: default;
          }
        }
        &:focus,
        &:hover {
          color: $white;
        }
      }
    }
  }
}

body#home      .navbar-nav li a#home,
body#about     .navbar-nav li a#about,
body#blog      .navbar-nav li a#blog,
body#blog-post .navbar-nav li a#blog,
body#portfolio .navbar-nav li a#portfolio,
body#contact   .navbar-nav li a#contact
{ color: $red-light; }
