.navbar.navbar-default {
  .navbar-brand {
    font-size: x-large;
    color: $red-dark;
    &:hover { color: $red-light; }
  }
  .navbar-nav li {
    a { color: $blue-dark; }
    a:focus, a:hover {
      color: $blue-light;
      background-color: $dark-mode-background-color;
      @media screen and (prefers-color-scheme: light) {
        background-color: $light-mode-background-color;
      }
    }
  }
  background-color: $dark-mode-background-color;
  border: none;
  @media screen and (prefers-color-scheme: light) {
    background-color: $light-mode-background-color;
  }
}
