.portfolio {
  /* Portfolio Client Company Logos */
  .logo {
    background-size: cover;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    top: 3px;
  }
  .logo.nyland-construction {
    background-image: url(http://nylandconstruction.co.uk/assets/img/favicon32.png);
  }

  .logo.trichema {
    background-image: url(http://trichema.github.io/assets/img/favicon-32x32.png);
  }

  .logo.la-maison {
    background-image: url(http://lamaison.cleaning/assets/img/favicon-32x32.png);
  }

  /* Portfolio Screenshots*/
  .screenshot {
    background-size: cover;
    height: 128px;
    width: 256px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
  .screenshot.nyland-construction {
    background-image: url(/assets/img/portfolio-screenshots/nylandconstruction-screenshot.png);
  }

  .screenshot.trichema {
    background-image: url(/assets/img/portfolio-screenshots/trichema-screenshot.png);
  }

  .screenshot.la-maison {
    background-image: url(/assets/img/portfolio-screenshots/lamaison-screenshot.png);
  }

  .screenshot.cloudiary {
    background-image: url(/assets/img/portfolio-screenshots/cloudiary-screenshot.png);
  }

  .screenshot.gmail-slack-notifier {
    background-image: url(/assets/img/portfolio-screenshots/gmail-slack-notifier-screenshot.png);
  }

  .screenshot.cloudwatch {
    background-image: url(/assets/img/portfolio-screenshots/cloudwatch-screenshot.png);
  }

  .screenshot.goals {
    background-image: url(/assets/img/portfolio-screenshots/goals-screenshot.png);
  }

  .badges {
    margin-bottom: 10px;
  }
}
