/* Colours */
$white     : #fafafa;
$black     : #323232;

$blue-dark : #347FC4;
$blue-light: #63c0f5;
$red-dark  : #B14437;
$red-light : #F64740;
$grey-dark : #291F1E;
$grey-light: #9d9d9d;

$footer_height: 30px;
