/* Clean layout used for CV */

.paper-pad {
    background: #fff;
    box-shadow:
    0 0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
    0 10px 0 -5px #fff, /* The second layer */
    0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
    0 20px 0 -10px #fff, /* The third layer */
    0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
    padding:    30px;
}

.clean-layout {
    margin:      -40px 0 0 0;
    padding:     30px;
    background:  #e0e0e0;
    color:       #000;
    font-family: "Georgia", serif;
}

.clean-layout * {
    text-transform: inherit;
    font-size: 16px;
}

.clean-layout .container {
    width:     95%;
    max-width: 100%;
}

.clean-layout header {
    background:    none;
    border-bottom: none;
    margin:        0 0 0 0;
}

.clean-layout header h1 {
    font-size:   50px;
    margin:      0 0 0 0;
    font-family: inherit;
    color:       #000;
    text-shadow: none;
    text-align:  center;
}

.clean-layout header h1:before {
    content: none;
}

.clean-layout header h2 {
    color: inherit;
}

.clean-layout h1, .clean-layout h2, .clean-layout h3, .clean-layout h4, .clean-layout h5, .clean-layout h6 {
    font-family: inherit;
    color:       inherit;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(104, 182, 255, 0.1),
    0 0 10px rgba(104, 182, 255, 0.1);
}

.clean-layout dt {
    font-style:  italic;
    font-weight: bold;
}

.clean-layout ul li {
    list-style: inherit;
}

.clean-layout ul li:before {
    content:     normal;
    font-family: inherit;
    color:       inherit;
}

.clean-layout hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-top:    1em;
    margin-bottom: 1.5em;
}

.clean-layout section#main_content a {
    font-style: italic;
}

.clean-layout section#main_content a.subtle {
    color:           inherit;
    text-decoration: inherit;
    text-shadow:     0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(104, 182, 255, 0.1),
    0 0 10px rgba(104, 182, 255, 0.1);
}

.clean-layout section#main_content a.subtle:hover {
    color:       #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
