/* Colours

White: #fafafa
Black: #323232

Dark Blue:  #347FC4
Light Blue: #01BAEF
Dark Red:   #B14437
Light Red:  #F64740
Dark Grey:  #291F1E
Light Grey: #DCDCDC

*/

/* Fonts */

@import url(//fonts.googleapis.com/css?family=Raleway:400,700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    font-family: Raleway, sans-serif;
}

h1, h2, h3, nav {
    font-family: Montserrat, sans-serif;
}

/* Main styles */

/* Add padding for the fixed navbar (http://getbootstrap.com/components/#body-padding-required) */
body { padding-top: 70px; }

/* ToDo: Document what this is for */
.home .welcome {
    margin-top:    20px;
    margin-bottom: 20px;
}

/* Hide the recent blog articles for now, as the blog is not online */
.recent-blog-articles {
    display: none;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 30px;  /* This must match the height of the footer tag below */
}
footer {
    position: absolute;
    bottom: 0;
    height: 30px;         /* This must match the margin-bottom of the body tag above */
    right: 15px;
    text-align: right;
}

/* Helpers */
.center {
    margin-left: auto;
    margin-right: auto;
}
