/* Fonts */
@import url(//fonts.googleapis.com/css?family=Raleway:400,700);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: Raleway, sans-serif; color: #323232;
}

h1, h2, h3, nav *, footer * {
    font-family: Montserrat, sans-serif;
}

/* Colours */
.white      { color: #fafafa }
.black      { color: #323232 }
.blue-dark  { color: #347FC4 }
.blue-light { color: #01BAEF }
.red-dark   { color: #B14437 }
.red-light  { color: #F64740 }
.grey-dark  { color: #291F1E }
.grey-light { color: #DCDCDC }

/* Main styles */
body {
    font-size: 16px;
    padding-top: 70px;/* Add padding for the fixed navbar (http://getbootstrap.com/components/#body-padding-required) */
    background-color: #fafafa;
}

/* Adds some padding to the avatar */
.avatar {
    margin-top:    20px;
    margin-bottom: 20px;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 30px;  /* This must match the height of the footer tag below */
}
footer {
    position: absolute;
    bottom: 0;
    height: 30px;         /* This must match the margin-bottom of the body tag above */
    right: 15px;
    text-align: right;
}

/* Nav bar customisations */
.navbar-inverse .navbar-brand {
    color: #F64740;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fafafa;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fafafa;
}

.navbar-inverse .navbar-nav>li>a {
    color: #347FC4;
}

.navbar-inverse .navbar-nav>li>a.active {
    color: #F64740;
}

.navbar-inverse .navbar-nav>li>a.active:hover {
    color: #9d9d9d;
    cursor: pointer;
}

/* Portfolio Client Company Logos */
.logo {
    background-size: cover;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    top: 3px;
}
.logo.nyland-construction {
    background-image: url(http://nylandconstruction.co.uk/assets/img/favicon32.png);
}

.logo.trichema {
    background-image: url(http://trichema.co.uk/assets/img/favicon-32x32.png);
}

.logo.la-maison {
    background-image: url(http://la-maison.github.io/assets/img/favicon-32x32.png);
}

/* Portfolio Screenshots*/
.screenshot {
    background-size: cover;
    height: 128px;
    width: 256px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.screenshot.nyland-construction {
    background-image: url(../../portfolio/screenshots/nylandconstruction-screenshot.png);
}

.screenshot.trichema {
     background-image: url(../../portfolio/screenshots/trichema-screenshot.png);
}

.screenshot.la-maison {
    background-image: url(../../portfolio/screenshots/lamaison-screenshot.png);
}

img.joe-in-the-office, img.joe-on-a-bike {
    max-width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    img.joe-in-the-office, img.joe-on-a-bike {
        max-width: 75%;
    }
}

/* Helpers */
.center {
    margin-left: auto;
    margin-right: auto;
}

footer a:hover {
    text-decoration: none;
}
