@media print {
  /* Helpers */
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

  .left {
    text-align: left;
    left: 0;
    float: left; }

  .right {
    text-align: right;
    right: 0;
    float: right; }

  /* Hide some classes and IDs by default */
  .no-print, .no-print *, #nav {
    display: none !important; }

  /* Set the default font size */
  body {
    font-size: 10px;
    /* Remove the extra space before <ul>'s */
    /* Reset .subtle links to default style */ }
    body ul {
      margin-top: inherit; }
    body a.subtle {
      color: inherit;
      text-decoration: inherit; } }
