@media print {
    .no-print, .no-print *, header, #nav {
        display: none !important;
    }

    body {
        font-size: 10px;
    }

    ul {
        margin-top: inherit;
    }

    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}